.button {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    background-color: var(--green);
    border-radius: 0.5rem;
    color: var(--pure-white);
}

.button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    cursor: pointer;
}
