.checkboxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
    padding-right: 1.5rem;
    flex-wrap: wrap;

    :hover {
        cursor: pointer;
    }
}

.checkboxGroup:focus-within {
    outline: 2px solid var(--green);
}

.checkbox {
    width: 18px;
    height: 18px;

    & img {
        height: 18px;
        width: 18px;
        max-width: fit-content;
    }
}

.checkboxLabel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checkboxLabel img {
    margin-right: 1rem;
}

.checkboxLabel span {
    margin-left: 0.5rem;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

