.checkboxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
    padding-right: 1.5rem;
}

.checkbox {
    width: 18px;
    height: 18px;

    & img {
        height: 18px;
        width: 18px;
        max-width: fit-content;
    }

    :hover {
        cursor: pointer;
    }
}

.checkBoxLabel {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
